div#modal.modal
  header.modal__header
    .media.d-flex
      .media__img.media__img--large
        img(src="images/card2.png",alt="designer-image").img-responsive.modal__designer-img
      .media__details
          h1.title.title--primary.m-y-0.modal__designer-name.pay pay junction - paper reciepts
          h2.title.title--secondary.modal__design-details.m-y-0 by 
            span Eddy Lopanivsjky 
            span on 
            span August 20, 2018
  div.modal__img
    img(src="images/modal-img.png",alt="design-image").img-responsive
  div.modal__details
    .container  
      .row.row--3.row--xs.row--sm
        .col.col--2
          div
            p.p.p--secondary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu rhoncus est, vitae imperdiet tellus. Sed dictum, ipsum eget gravida faucibus, nulla diam commodo magna, sit amet pretium metus elit a nibh.
          div.modal__comments
            h3.title.title--primary.modal__comments-title Responses
            .media.comment
              .media__img.media__img--medium
                img(src="images/card.png",alt="response image").img-responsive
              .media__details
                h4.title.title-secondary.m-y-0.comment_title username
                p.p.p--secondary.m-y-0.comment__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu rhoncus est, vitae imperdiet tellus. Sed dictum, ipsum eget gravida faucibus, nulla diam commodo magna, sit amet pretium metus elit a nibh.
            .media.comment
              .media__img.media__img--medium
                img(src="images/card.png",alt="response image").img-responsive
              .media__details
                h4.title.title-secondary.m-y-0.comment_title username
                p.p.p--secondary.m-y-0.comment__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu rhoncus est, vitae imperdiet tellus. Sed dictum, ipsum eget gravida faucibus, nulla diam commodo magna, sit amet pretium metus elit a nibh.
        .col    
          p lorem ipsum  
